*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#app {
  min-height: 100%;
}

html,
body {
  overflow-x: hidden;
}

body {
  margin: 0;
  min-width: 320px;
  background: #f8f9fc;
  color: #364153;
  font-family: Roboto, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  overscroll-behavior-x: none;
}

button {
  font: inherit;
}
